<div class="container">
    <nz-card style="width:100%;">
      <nz-card-meta
        nzTitle="Banco de Loja"
        nzDescription="Siempre seguro y nuestro"
      ></nz-card-meta>
      <div class="content">
        <div class="banner">
          <img src="../assets/bancoLoja.PNG" alt="Impuesto Predial" />
        </div>
        <div class="actions">
          <button nz-button nzType="primary" nzSize="large">Personas</button>
          <button nz-button nzSize="large">Empresas</button>
        </div>
      </div>
    </nz-card>
  </div>