<img src="../../../assets/bancoLoja.PNG" alt="Banco de Loja" width="100%">
<div *ngIf="customer">
  <nz-row>
    <nz-col nzSpan="7" class="col-detail">
      <img src="../../../assets/en blanco.JPG" alt="Banco de Loja">
    </nz-col>
    <nz-col nzSpan="16" class="col-detail">
      <span id="customer-info"><b>{{customer.firstName |uppercase}} {{customer.lastName |uppercase}} - {{customer.accountNumber}}</b></span><br>
      <span> <b>Último acceso</b> {{date | date:'medium'}}</span>
    </nz-col>
    <nz-col nzSpan="1" id="logout-section" class="col-detail">
      <button nz-button id="btn-logout" (click)="logout()">Salir</button>
    </nz-col>
  </nz-row>
    <h3 class="text col-detail">POSICIÓN CONSOLIDADA</h3>
    <nz-table #basicTable [nzData]="customer.accounts"class="col-detail">
        <thead>
          <tr>
            <th>Tipo Cuenta</th>
            <th>Nro.Cuenta</th>
            <th>Saldo Contable</th>
            <th>Saldo disponible</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.type ?? '' }}</td>
            <td>{{ data.accountNumber ?? '' }}</td>
            <td>{{ data.balance ?? 0 }}</td>
            <td>{{  data.availableBalance ?? 0 }}</td>
            <td *ngIf="data.status">ACTIVA</td>
            <td *ngIf="!data.status">INACTIVA</td>
          </tr>
        </tbody>
      </nz-table>
</div>
