<img src="../../../assets/bancoLoja.PNG" alt="Banco de Loja" width="100%">
<div class="login-container">
  <nz-row [nzGutter]="[8,8]" id="login-content">
    <nz-col nzMd="14" nzXs="24" >
        <div class="header">
            <img src="../../../assets/en blanco.JPG" alt="Banco de Loja" class="logo">
          </div>
          <div class="content">
            <h3 class="text-welcome">BIENVENIDOS</h3>
            <p class="text-welcome">
              A la Banca Electrónica del Banco de Loja, trabajamos de forma continua para garantizar la seguridad de nuestros clientes,
              por ello hemos implementado un nuevo sistema de seguridad, si Ud. no tiene clave de acceso a este canal solicitela en
              cualquiera de nuestras oficinas. 
            </p>
            <img src="../../../assets/seguridad.JPG" alt="Banco de Loja" class="logo">
        </div>
    </nz-col>
    <nz-col nzMd="4" nzXs="24">
        <form nz-form [formGroup]="form">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="user">
                  <input nz-input placeholder="Usuario"  formControlName="userName" class="input-login item-login" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="lock">
                  <input nz-input type="password" placeholder="Contraseña" formControlName="password" class="input-login item-login"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </form>
          <div class="links">
            <button nz-button nzType="primary" class="color-bank btn-login " (click)="login()">
              Ingresar
            </button>
            <button nz-button nzSize="small" class=" item-login item-forget"> ¿Olvidó su clave?</button>
            <button nz-button nzSize="small" class=" item-login item-forget"> ¿Olvidó su usuario?</button>
            <button nz-button nzSize="small" class=" item-login item-forget" id="active-bank"> <b>Activar Banca Electrónica</b></button>
          </div>
    </nz-col>
</nz-row>
  </div>